.projectsContent {
    background-color: #FBEAFF;
    .projectTitle {
        text-align: center;
        color: #845EC2;

    }
    .nameOf {
        color: #845EC2;
        list-style: none;
        cursor: pointer;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {

    .projectsContent {
        .projectTitle {
            padding-top: 90px;
    
            
        }
        .nameOf {
          
            padding-bottom: 125px;
            display: flex;
            justify-content: space-around;
           
            flex-wrap: wrap;
            
        }
    
    }
    
    
    
}
